<body> Current memory usage is : <br><br>
total        used        free      shared  buff/cache   available

<br>

Mem:          7.7Gi       810Mi       6.0Gi       160Mi       865Mi       6.5Gi

<br>

Swap:         7.7Gi          0B       7.7Gi

<br>


</body>
